body {
    font-family: "Lato", sans-serif;
    background: #ecf0f5!important;
    margin: 0;
    font-size: 14px;
  }

  .pagina{
    display: flex;
  }
  
  .sidebar {
    height: 100%;
    
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    color: var(--va-primary);
  }
  
  #main {
    transition: margin-left .5s;
  }

  .area{
    width: 90%;
    margin: 0 auto;
  }

  .lateral{
    width: 200px;

  }

  .principal{
    width: calc(100% -230);
  }
  
  @media screen and (min-width: 901px) {
    .sidebar {
      width: 250px;
    }
    #main{
      margin-left: 250px;
    }
  }

  @media screen and (max-width: 900px) {
    .sidebar {
      width: 0;
    }
  }